section.checknow-section{
  padding-top: 5rem;
  padding-bottom: 2rem;
}

section.checknow-section .row h1{
  font-family: 'poppins', sans-serif;
  font-weight: bold;
  font-size: 16px;;
  color: #093576;
}

.checknow-card-group {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; /* Jarak antar kartu */
}

.checknow-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px 4px 11.9px 0px rgba(0, 0, 0, 0.10);
  width: 97px;
  height: 137px;
  border-radius: 12px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.checknow-card:hover {
  background: var(--Primary, #30B4F5);
}

.checknow-card .card-image {
  width: 60%;
  max-width: 70px;
  height: auto;
  border-radius: 50%;
  margin-top: 20px;
  margin-bottom: 10px;
}

.checknow-card .checknow-title {
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  margin: 0;
  transition: color 0.3s ease;
}

.checknow-card:hover .checknow-title {
  color: white;
}

.wrapper .card-fitur {
  background: #fff;
  width: 350px;
  height: 90px;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  position: relative;
  border-radius: 10px;
  border: 1px solid #00AEEF;
  box-shadow: 0px 4px 11.9px 0px rgba(0, 0, 0, 0.10);
  cursor: pointer;
}

.wrapper .card-fitur:hover{
  background: var(--Primary, #30B4F5);
  transition: all 0.3s ease;
}

.card-fitur .content{
  display: flex;
  align-items: center;

}

.wrapper .card-fitur .img{
  height: 50px;
  width: 50px;
  position: absolute;
  background: #fff;
  border-radius: 50%;
  padding: 5px;
}

.card-fitur .img img{
  height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.card-fitur .detail{
  margin-top: 20px;
  margin-left: 55px;
}

.detail span{
  font-weight: 600;
  font-size: 16px;
}
.detail p{
  font-size: 12px;
}
@media screen and (max-width: 992px){ 
  .checknow-section{
      padding-top: 8rem;

  }
  .checknow-section img{
      width: 400px;
      display: block;
      margin-inline: auto;
  }
  .checknow-section h1{
    font-size: 3 rem;
}
}

@media screen and (max-width: 575px){ 
  .checknow-section h1{
      font-size: 2.4rem;
  }
  .checknow-card-group {
    justify-content: center;
  }
  .checknow-card {
    width: 80px; /* Mengurangi lebar kartu */
    height: 110px; /* Mengurangi tinggi kartu */
  }

  .checknow-card .card-image {
    max-width: 50px; /* Mengurangi ukuran gambar */
    margin-top: 15px; /* Menyesuaikan margin gambar */
    margin-bottom: 8px; /* Menyesuaikan margin gambar */
  }

  .checknow-card .checknow-title {
    font-size: 12px; /* Mengurangi ukuran font judul */
  }
  .wrapper .card-fitur {
    width: 100%; /* Lebar kartu mengisi keseluruhan lebar layar */
    max-width: 350px; /* Maksimum lebar kartu untuk menjaga proporsi */
    margin-bottom: 20px; /* Menambahkan jarak antar kartu */
  }
  

}

@media screen and (max-width: 475px){ 
  .checknow-section h1{
      font-size: 2rem;
  }

  .checknow-section img{
      width: 300px;
  }
  .checknow-card-group {
    justify-content: center;
  }
  .checknow-card {
    width: 60px; /* Mengurangi lebar kartu lebih lanjut */
    height: 80px; /* Mengurangi tinggi kartu lebih lanjut */
  }

  .checknow-card .card-image {
    max-width: 40px; /* Mengurangi ukuran gambar lebih kecil lagi */
    margin-top: 10px; /* Menyesuaikan margin gambar */
    margin-bottom: 5px; /* Menyesuaikan margin gambar */
  }
  .wrapper .card-fitur {
    margin: 0 auto; /* Posisikan kartu ke tengah layar */
  }
}

@media screen and (max-width: 375px){ 
  .checknow-section h1{
      font-size: 1.4rem;
  }
  .checknow-section img{
      width: 200px;
  }
  .checknow-card-group {
    justify-content: center;
  }
  .checknow-card {
    width: 50px; /* Mengurangi lebar kartu */
    height: 70px; /* Mengurangi tinggi kartu */
  }

  .checknow-card .card-image {
    max-width: 30px; /* Mengurangi ukuran gambar lebih kecil lagi */
    margin-top: 8px; /* Menyesuaikan margin gambar */
    margin-bottom: 4px; /* Menyesuaikan margin gambar */
  }

  .checknow-card .checknow-title {
    font-size: 10px; /* Mengurangi ukuran font judul */
  }
  .wrapper .card-fitur {
    margin: 0 auto; /* Posisikan kartu ke tengah layar */
  }

}