:root {
    --primary: #30B4F5; 
    --success: #70B524; 
    --info: #909CFE; 
    --warning: #FFBE01;
    --danger: #FF5034;
    --textcolor: #093576;

    --navbar-color: #eef5ff;
}

.card-component .card a{
    min-width: 44px;
    min-height: 44px;
    text-decoration: none;
}
  
.card-component .card:hover {
    box-shadow: 2px 4px 29px 3px rgba(48,180,245,0.29);
    transform: scale(1.0080);
    transition: all ease 0.4s;
} 
h1, h2, h3, h4, h5, p{
    color: var(--textcolor);
}
  



.homepage .header-box h1{
    font-size: 2.8rem;
    font-weight: 600;
    color: var(--textcolor);
    animation: fadeInUp;
    animation-duration: 3s;
    --animate-delay: 1s;
}

.homepage .header-box h5{
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--textcolor);
    animation: fadeInUp;
    animation-duration: 3s;
    --animate-delay: 1s;
}


.homepage .header-box p{
    line-height: 2;
    color: var(--textcolor);
    font-weight: 500;
    animation: fadeInUp;
    animation-duration: 3s;
    --animate-delay: 1s;
}

.homepage .header-box button{
    animation: fadeInUp;
    animation-duration: 3s;
    --animate-delay: 1s;
}
.homepage .header-box img{
    width: 32rem;
    animation: fadeInUp; 
    animation-duration: 2s;
}

/* style Navbar */




/* end navbar */



/* style HomePage Landing*/






/* style HomePage Landing*/


/* style footer */


/* style footer */

/* styl articles */


/* styl articles */

/* login page  */
.auth-wrapper {
    padding-top: 8rem;
    padding-bottom: 8rem;
    padding-inline: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
} 

/* Style Faq */

.faq{
    padding-top: 100px;
    padding-bottom: 100px;
}

.faq h2{
    color: var(--color-text);

}

.faq .accordion .accordion-button{
    color: var(--color-text);
    font-weight: bold;
    background-color: #fff;
    line-height: 1.5;
}

.faq .accordion .accordion-button:focus{
    border: none;
    box-shadow: none;
}

.faq .accordion .accordion-body{
    background-color: #fff;
}
/* Style Faq */

