:root {
    --primary: #30B4F5; 
    --success: #70B524; 
    --info: #909CFE; 
    --warning: #FFBE01;
    --danger: #FF5034;
    --textcolor: #093576;

    --navbar-color: #eef5ff;
}

.card-component .card a{
    min-width: 44px;
    min-height: 44px;
    text-decoration: none;
}
  
.card-component .card:hover {
    box-shadow: 2px 4px 29px 3px rgba(48,180,245,0.29);
    transform: scale(1.0080);
    transition: all ease 0.4s;
} 
h1, h2, h3, h4, h5, p{
    color: var(--textcolor);
}
  







/* style Navbar */



/* end navbar */



/* style HomePage Landing*/






/* style HomePage Landing*/


/* style footer */


/* style footer */

/* styl articles */


/* .homepage .articles .row:nth-child(2){
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
    padding-inline:10px ;

}

.homepage .articles .row:nth-child(2) .col{
    background-color: white;
    border-radius: 1rem;
    padding: 1rem;
    cursor: pointer;
    transition: box-shadow ease-in-out 0.5s;
}
.homepage .articles .row:nth-child(2) .col:hover{
    box-shadow: 2px 20px 63px 3px rgba(48,180,245,0.15);
}

.homepage .articles .row:nth-child(2) i{
    color: gold;
}

.homepage .articles .row:nth-child(2) h5{
    font-size: large;
    color: var(--color-text);
    font-weight: 600;
    line-height: 1.5;
}

.homepage .articles .row:nth-child(3){
    padding-top: 100px;
} */
/* styl articles */

/* login page  */
