:root {
    --primary: #30B4F5; 
    --success: #70B524; 
    --info: #909CFE; 
    --warning: #FFBE01;
    --danger: #FF5034;
    --textcolor: #093576;

    --navbar-color: #eef5ff;
}

.card-component .card a{
    min-width: 44px;
    min-height: 44px;
    text-decoration: none;
}
  
.card-component .card:hover {
    box-shadow: 2px 4px 29px 3px rgba(48,180,245,0.29);
    transform: scale(1.0080);
    transition: all ease 0.4s;
} 

h1, h2, h3, h4, h5, p{
    color: var(--textcolor);
}
  

