*{
    font-family: "Poppins", sans-serif;
}

:root {
    --primary-color: #f6f8fd;
    --secondary-color: #00AEEF;
    --color-text: #231942;
    --navbar-color: #E7F1FF;
    --navbar-color-text: #000000;
}

/* style Navbar */

.navbar{
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    padding: 8px 12px;
    align-items: center;
    flex-shrink: 0;
    width: 80%;
    border-radius: 0px 0px 12px 12px;
}

.navbar.color-active {
    background-color: var(--navbar-color);
    padding: 20px 0 20px 0;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 0px 0px 12px 20px;
    padding: 8px 12px;
    align-items: center;
    flex-shrink: 0;
}

.navbar .nav-link a{
    padding: 5px 10px 5pc 10px;
    font-weight: 500;
    text-decoration: none;
    color: var(--navbar-color-text);

}

.navbar .nav-link a:hover{
    color: var(--secondary-color)
}

.navbar .nav-link .active{
    color: var(--secondary-color);
}

.navbar .nav-link .active:hover{
    color: var(--navbar-color);
}

/* end navbar */

/* style landing */





